* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.row {
    margin: 50px 50px;
    display: flex !important;
}
#description {
    align-items: center;
    margin-top: 50px;
}

header {
    margin: 25px;
    display: grid;
    justify-content: center;
    align-items: center;
}
header h1 {
    width: 100%;
    text-align: left;
    font-size: 48px;
    font-family: "Protest Strike", sans-serif;
    font-weight: 100;
}
header h2{
    width: 100%;
    text-align: left;
    font-size: 28px;
    padding-bottom: 20px;
}
.h3-test{
    width: 100%;
    text-align: left;
    font-size: 20px;
}

.tittleTest{
    width: 100%;
    text-align: center;
    font-size: 48px;
    font-family: "Protest Strike", sans-serif;
    font-weight: 100;
}
.subTittleTest {
    width: 100%;
    text-align: center;
    font-size: 28px;
    padding-bottom: 20px;
}

.left-side {
    background-color: #f6f6f6;
    border: solid 2px;
    border-radius: 16px;
    border-color: #e3e3e3;
    padding: 40px;
    width: 600px;
}
.right-side {
    background-color: #f6f6f6;
    border: solid 2px;
    border-radius: 16px;
    border-color: #e3e3e3;
    padding: 40px;
    width: 600px;
}

.main {
    display: flex;
    justify-content: space-between;
    padding: 40px;
    margin: 0 300px;
    width: auto;
}

.container-fluid {
    display: grid;
}
nav{
    background-color: #023a8d;
}

nav .container-fluid {
    padding: 16px 100px;
}
.navbar-brand {
    padding: 0 40px;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 30px;
}
.nav-item a{
    color: #FFFFFF;
    font-size: 18px;
}

.logo {
    height: 64px;
}
.mx-auto {
    width: 450px;
}

label {
    font-size: large;
    font-weight: 600;
    margin: 8px 0;
}

input {
    background-color: lightgray;
    border: none;
    border-radius: 8px;
    width: 100%;
    font-size: 20px;
    padding: 8px 40px;
    margin: 8px 0;
}

select {
    margin: 8px 0;
}

.btn{
    width: 100%;
    margin: 8px 0;
}

form {
    padding: 16px;
}

div p {
    font-size: larger;
    font-weight: 400;
}

.mainStorage {
    padding: 40px;
    margin: 0 300px;
    width: auto;
}

.storageContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.playerCard{
    background-color: #f6f6f6;
    border: solid 2px;
    border-radius: 16px;
    border-color: #e3e3e3;
    width: 550px;
    padding: 40px;
    margin: 20px;
}
.playerCard h4{
    font-size: 20px;
}
.playerCard span{
    font-size: 24px;
    color: #023a8d;
}

.errores {
    font-size: 18px;
    font-weight: 400;
    color: red;
}
.toastify-alert{
    font-weight: 800;
    color: #ffffff;
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.loader-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}